<div class="container">
    <p>UserName: test</p>
    <p>Password: root</p>
    <div class="flex justify-content-center">
        <div class="bg-primary-100 p-8">
            <form #form="ngForm" (ngSubmit)="form.valid && handleSubmit(form)">
                <p-panel header="Login" styleClass="mb-4">
                    <div class="p-fluid">
                        <div class="p-field m-1">
                            <label for="primeUsername">Username</label>
                            <input id="primeUsername" pInputText required type="text" name="username"
                                [(ngModel)]="user.username" minlength="3" #name="ngModel"
                                placeholder="Enter username" />
                            <small *ngIf="name.invalid && name.touched" class="text-red-100">Username is
                                required</small>
                        </div>

                        <div class="p-field m-1">
                            <label for="primePassword">Password</label>
                            <input id="primePassword" type="password" class="p-error" pInputText required
                                name="password" [(ngModel)]="user.pass" #pass="ngModel"
                                placeholder="Enter your password" />
                            <small *ngIf="pass.invalid && pass.touched" class="p-error">Password is required</small>
                        </div>

                        <div class="p-field">
                            <button pButton type="submit" label="Login" class="p-button-primary w-100"></button>
                        </div>
                    </div>
                </p-panel>
            </form>
        </div>
    </div>
</div>