<div class="flex">
    <h1>{{project?.name+':' || ''}} Tasks</h1>
</div>

<div class="filter-bar" style="margin-bottom: 1rem;">
    <div class="grid">
        <div class="col-4">
            <label for="statusFilter" style="margin-right: 0.5rem;">Filter by Status:</label>
            <p-dropdown [style]="{ width: '15vw' }" inputId="statusFilter" [options]="arrStatus"
                [(ngModel)]="activeStatus" placeholder="All" (onChange)="filterByStatus($event)"
                styleClass="p-inputtext-sm" [showClear]="true">
            </p-dropdown>
        </div>
        <div class="col-4">
            <!-- <label for="statusFilter" style="margin-right: 0.5rem;">Filter by Status:</label>
            <p-dropdown [style]="{ width: '15vw' }" inputId="statusFilter" [options]="arrStatus"
                [(ngModel)]="activeStatus" placeholder="All" (onChange)="filterByStatus($event)"
                styleClass="p-inputtext-sm" [showClear]="true">
            </p-dropdown> -->
        </div>
        <div class="col-4 pr-5">
            <div class="flex justify-content-end">
                <button pButton type="button" label="Add Task" (click)="openModal()" class="p-button-success"></button>
            </div>
        </div>
    </div>
</div>

<!-- Task ID, Title, Assignee, Due Date, Status, Priority -->
<p-table [value]="rows" (onEditComplete)="toEdit($event)" [paginator]="rows?.length ? true:false" [rows]="5"
    [sortMode]="'multiple'">
    <ng-template pTemplate="header">
        <tr>
            <th pSortableColumn="id">Task ID <p-sortIcon field="id"></p-sortIcon></th>
            <th pSortableColumn="title">Title <p-sortIcon field="title"></p-sortIcon></th>
            <th>
                Assignee
            </th>
            <th>Due Date</th>
            <th>Status</th>
            <th>Priority</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-task>
        <tr>
            <td>{{ task.id }}</td>
            <td>{{ task.title }}</td>
            <td>{{ task.assignee }}</td>
            <!-- <td>{{ task.dueDate }}</td> -->
            <td pEditableColumn>
                <p-cellEditor>
                    <ng-template pTemplate="input">
                        <p-calendar appendTo="body" [(ngModel)]="task.dueDate" dateFormat="yy-MM-dd"></p-calendar>
                    </ng-template>
                    <ng-template pTemplate="output">
                        {{ task.dueDate | date: 'yyyy-MM-dd' }}
                    </ng-template>
                </p-cellEditor>
            </td>
            <!-- <td> -->
            <!-- {{project.status}} -->
            <!-- <p-progressbar [value]="project.tasks.length" /> -->
            <!-- <p-tag [value]="project.status"></p-tag> -->

            <td pEditableColumn>
                <p-cellEditor>
                    <ng-template pTemplate="input">
                        <p-dropdown appendTo="body" [(ngModel)]="task.status" [options]="arrStatus"
                            [style]="{width:'80%'}">
                        </p-dropdown>
                    </ng-template>
                    <ng-template pTemplate="output">
                        {{ task.status }}
                    </ng-template>
                </p-cellEditor>
            </td>
            <!-- </td> -->
            <td>{{task.priority}}</td>
            <!-- <td>
                <p-progressBar [value]="getProjectProgress(project)"></p-progressBar>
            </td> -->
            <!-- <td>{{ project.tasks.length }}</td> -->
            <!-- <td>
                <div class="flex" style="gap: 10px;">
                    <button pButton icon="pi pi-pencil" (click)="editTask(task)"></button>
                    <button pButton icon="pi pi-trash" (click)="editTask(task)"></button>
                    <button pButton label="View Tasks" (click)="viewTasks(project)"></button>
                </div>
            </td> -->
        </tr>
    </ng-template>
</p-table>



<!-- modal start from here -->
<!-- {
      "id": 103,
      "projectId": 2,
      "title": "Beta test with internal team",
      "assignee": "Olivia",
      "dueDate": "2025-06-28",
      "status": "Completed",
      "priority": "High"
    }, -->


<app-task-dialog-form [projectId]="projectId" (submitTaskFormValue)="saveTask($event)" [isModalVisible]="isVisible"
    (setCloseModal)="closeModal()"></app-task-dialog-form>